# Alberto Nieves Cisneros

# A01793829

# Semana 2 - Actividad 1 Python for Data Science (IBM)

In [1]:
import os

In [2]:
os.getcwd()

'/Users/albertonieves'

In [176]:
import pandas as pd

In [17]:
File1 = open("/Users/albertonieves/Desktop/CienciadeDatos/example1.txt","w")
#ABRIMOS EL ARCHIVO DE POKEMON

In [18]:
with open("/Users/albertonieves/Desktop/CienciadeDatos/example1.txt","r") as File1:
    file_stuff = File1.read()
    print(file_stuff)
print(File1.closed)
print(file_stuff)

True

In [19]:
print(file_stuff)

In [20]:
open("/Users/albertonieves/Desktop/CienciadeDatos/example1.txt","r")

In [14]:
#LABS

In [30]:
# Leer csv de ejemplo 1
example1 = "/Users/albertonieves/Desktop/CienciadeDatos/example1.txt"
file1 = open(example1, "r")

In [31]:

# imprimir la ruta del archivo

file1.name

'/Users/albertonieves/Desktop/CienciadeDatos/example1.txt'

In [32]:
# Para saber si tengo el archivo en modo lectura (r) o escritura (w)

file1.mode

'r'

In [33]:
# Leer archivo

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [34]:
print(FileContent)

This is line 1
This is line 2
This is line 3

In [35]:
#contenido del archivo
type(FileContent)

str

In [36]:
# CCerrar archivo

file1.close()

In [37]:
# Abrir archivo con with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [38]:
file1.closed

True

In [39]:
print(FileContent)

This is line 1
This is line 2
This is line 3

In [42]:
# Leer primera 4 caracteres

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [43]:
# Leer caracteres

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [44]:
# Leer cierto numero de carateres

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [46]:
# leer solo una linea

with open(example1, "r") as file1:
    print("primera linea: " + file1.readline())

primera linea: This is line 1

In [47]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # no lee pasando los 20 caracteres
    print(file1.read(20)) # regresa 20 caracteres

This is line 1

This is line 2
This

In [48]:
# Iterara atraves de las lineas

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Numero de iteracion ", str(i), ": ", line)
            i = i + 1

Numero de iteracion  0 :  This is line 1

Numero de iteracion  1 :  This is line 2

Numero de iteracion  2 :  This is line 3

In [49]:


with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [50]:
#Primera linea 
FileasList[0]

'This is line 1 \n'

In [51]:

FileasList[2]

'This is line 3'

In [52]:
#ultima linea

FileasList[-1]

'This is line 3'

In [ ]:
#abrir archivos en modo escritura

In [53]:
File1 = open("/Users/albertonieves/Desktop/CienciadeDatos/example1.txt","w")

In [54]:
File1.write("Me llamo Alberto Nieves")

23

In [55]:
File1.write("Estudio en el Tec \n")

19

In [56]:

File1.close()

In [57]:
lines = ["A","B","C"]
with open("/Users/albertonieves/Desktop/CienciadeDatos/example1.txt","w") as file1:
    for line in lines:
        file1.write(line)

In [58]:
file1.close()

In [61]:

with open("/Users/albertonieves/Desktop/CienciadeDatos/example1.txt", "r") as readfile:
    with open("/Users/albertonieves/Desktop/CienciadeDatos/example3.txt","w") as writefile:
        for line in readfile:
            writefile.write(line)

# Lab
## Guardar y Escribir archivos

In [63]:
exmp2 = '/Users/albertonieves/Desktop/CienciadeDatos/example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [64]:
#archivo en modo lectura
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [65]:
#Escribir filas en archivo

with open(exmp2, 'w') as writefile:
    writefile.write("Esta es la linea A\n")
    writefile.write("Esta es la linea B\n")

In [66]:
# Revisamos archivo

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

Esta es la linea A
Esta es la linea B

In [67]:
#Ejemplos

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [68]:
# Escribir lineas en el archivo de una lista
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [69]:
# Verificamos

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [70]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

# Unir Archivos

In [71]:
#Escribimos un nuevo texto

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [72]:
# Vrevisamos que las lineas esten en el texto nuevo

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

# Modalidades Adicionales

In [73]:
#modo apendizar
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [74]:
#nos permite crear un nuevo arrchivo txt en caso de que no exista

In [75]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #lineas vacias nos arrojan un FALSO en python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # se mueve 0 bytes desde en inicio
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 70
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E
This is line E

Location after read: 70

In [76]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) 
    
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")

    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

# Crear una copia del archivo

In [77]:
# Copiar archivo

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [78]:
# Revisar si creamos bien el archivo

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

In [136]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [139]:

'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):

    # TODO: Open the currentMem file as in r+ mode
    with open(memReg,'r') as members:
    
        #TODO: Open the exMem file in a+ mode
        with open(exReg,'a') as inactive:
            for line in members:
                if 'no' in line:
                    inactive.write(line)
   

    with open(exReg,'r') as inactive:

        with open(memReg,'a') as members:
            for line in inactive:
                if 'no' not in line:
                        members.write(line)


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    96763      2016-10-9    yes
    24769      2017-1-13    no
    76027      2017-3-10    yes
    42600      2016-4-12    yes
    76386      2017-4-17    no
    72114      2016-3-21    yes
    21062      2019-5-18    yes
    74708      2018-6-11    no
    20315      2018-10-20   yes
    86527      2019-6-11    no
    47429      2015-10-14   no
    14997      2020-4-1     no
    72419      2017-3-17    yes
    59452      2016-9-24    yes
    45392      2015-3-6     yes
    50624      2017-9-22    no
    67030      2020-2-14    no
    69126      2020-11-9    no
    54977      2015-5-3     yes
    45107      2020-3-21    no
Membership No  Date Joined  Active

Inactive Members:


Membership No  Date Joined  Active
    29871      2018-12-15   no
    28675      2019-11-10   no
    59878      2017-3-20    no
    24769      2017-1-13    no
    76386      2017-4-17    no
    74708      2018-6-11    no
    86527      2019-6-11    no
    47429      2015-10-14   no
    14997      2020-4-1     no
    50624      2017-9-22    no
    67030      2020-2-14    no
    69126      2020-11-9    no
    45107      2020-3-21    no
    24769      2017-1-13    no
    76386      2017-4-17    no
    74708      2018-6-11    no
    86527      2019-6-11    no
    47429      2015-10-14   no
    14997      2020-4-1     no
    50624      2017-9-22    no
    67030      2020-2-14    no
    69126      2020-11-9    no
    45107      2020-3-21    no
    24769      2017-1-13    no
    76386      2017-4-17    no
    74708      2018-6-11    no
    86527      2019-6-11    no
    47429      2015-10-14   no
    14997      2020-4-1     no
    50624      2017-9-22    no
    67030      2020-2-14    no
    69126      2020-11-9    no
    45107      2020-3-21    no

In [140]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Inactive members in file
Test Failed

In [141]:
import pandas as pd

In [142]:
cvs_path = "/Users/albertonieves/Desktop/CienciadeDatos/pokemon.csv"

In [143]:
df = pd.read_csv(cvs_path)

In [144]:
df.head(5)
#ver 5 primeras columnas del frame

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [145]:
df.ix[0,1] 
df.iloc[0,1]

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'Bulbasaur'

In [146]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

Un DataFrame es una estructura de datos con dos dimensiones en la cual se puede guardar datos de distintos tipos

In [147]:
#Diccionario a Dataframe
songs = {'Album':["Trhiller","Back in Black","Dark Side of The Moon"],
        'Released':[1982,1973,1980],
        'Lenght':['00:42:19',"00:24:49","00:57:44"]}

In [148]:
songs_df = pd.DataFrame(songs)

In [149]:
songs_df

                   Album  Released    Lenght
0               Trhiller      1982  00:42:19
1          Back in Black      1973  00:24:49
2  Dark Side of The Moon      1980  00:57:44

In [150]:
#CREO UN DATA FRAME A PARTIR DE OTRO FRAME
X = songs_df[['Released']]

In [151]:
X

   Released
0      1982
1      1973
2      1980

In [152]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [153]:
df.tail(2)

   a  b
1  2  1
2  1  1

In [154]:
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [155]:
#Guardara data frame en un csv
df.to_csv("file.csv")

In [157]:
df['b'].unique()
#valores distintos que contiene la columna b del data frame

array([1])

In [158]:
df[df['a']==2]
#buscar valor 2 dentro dle data frame

   a  b
1  2  1

In [160]:
df = pd.read_csv("/Users/albertonieves/Desktop/CienciadeDatos/TopSellingAlbums.csv")

In [161]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [162]:
# Escoger columna Length

x = df[['Length']]
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [163]:
# Tener la columna como serie
x = df['Length']
x

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [164]:
# Columna como dataframe

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [165]:
# Multiples COlumnas

y = df[['Artist','Length','Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

In [166]:
# Primera fila y primera columna

df.iloc[0, 0]

'Michael Jackson'

In [167]:
# segundo renglon y primera columna 

df.iloc[1,0]

'AC/DC'

In [168]:
#Acceder a columna usando el nombre

df.loc[1, 'Artist']

'AC/DC'

In [169]:
df.loc[0, 'Released']

1982

In [170]:
# Slicing en el  dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [171]:
df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [172]:
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [173]:
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [175]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object